<script>
(function() {
  'use strict';
  customElements.define('light-box', class extends HTMLElement {
    constructor() {
      super(); //always
    }
    connectedCallback() {
      let shadowRoot = this.attachShadow({mode: 'open'});
      shadowRoot.innerHTML = `
  <div id="light-box__background"></div>
  <div id="light-box__overlay" class="container">
    <div id="light-box__content-parent">
    </div>
    <div class="buttons">
      <div class="button" id="light-box__close"><div class="button-content">x</div></div>
      <!-- <div class="button"><div class="button-content">r</div></div> -->
      <!-- <div class="button"><div class="button-content">v</div></div> -->
      <div class="button" id="light-box__prev"><div class="button-content">&lt;</div></div>
      <div class="button" id="light-box__next"><div class="button-content">&gt;</div></div>
    </div>
  </div>
  <style media="screen">
  :host(:not([open])) { display: none; }
  light-box:not([open]) { display: none; }
  #light-box__background { top: 0%; left: 0%; width: 100%; height: 100%; z-index: 9998; position: fixed; background-color: black; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
  .container { top: 0px; left: 5px; z-index: 9999; height: 99%; width: 99%; display: grid; grid-template-columns: 90% 10%; position: absolute; }
  #light-box__content { max-width:99%; max-height:99%; }
  #light-box__content-parent { /*border-style: solid;*/ grid-column: 1; }
  .buttons { grid-column: 2; overflow: hidden; }
  .button { /*height: 15%;*/ height: 64px; border-style: solid; cursor: pointer; background: #eee; }
  .button-content { position: relative; top: 50%; transform: translateY(-50%); transform: translateX(50%); }
  </style>`;
      let parent = shadowRoot.querySelector('#light-box__content-parent');
      this.contentIndex = 0;
      let firstChild = this.children[this.contentIndex].cloneNode(true);
      firstChild.setAttribute('id', 'light-box__content');
      parent.appendChild(firstChild);

      let nextBtn = shadowRoot.querySelector('#light-box__next');
      nextBtn.addEventListener('click', (e) => {
        this.changeContent(null, this.hasAttribute('wrap'));
      });
      let prevBtn = shadowRoot.querySelector('#light-box__prev');
      prevBtn.addEventListener('click', (e) => {
        this.changeContent('prev', this.hasAttribute('wrap'));
      });
      let closeBtn = shadowRoot.querySelector('#light-box__close');
      closeBtn.addEventListener('click', (e) => {
        this.removeAttribute('open');
      });
    }

    attributeChangedCallback(attr, oldValue, newValue) { //observedAttribute changes
      console.log('attribute:', attr, ', old:', oldValue, ', new:', newValue);
      customElements.whenDefined('light-box').then(() => { //wait for definition to attach attributes

      });
    }

    changeContent(direction, wrap = false) {
      console.log('changing content', direction, 'wrap', wrap);
      if (!wrap) {
        if (direction === 'prev') {
          if (this.contentIndex <= 0) return;
          --this.contentIndex;
        } else {
          if (this.contentIndex >= this.children.length-1) return;
          ++this.contentIndex;
        }
      } else if (wrap) {
        if (direction === 'prev') {
          this.contentIndex = (this.contentIndex-1)%this.children.length;
          if (this.contentIndex < 0) {
            this.contentIndex = this.children.length-1;
          }
        } else {
          this.contentIndex = (this.contentIndex+1)%this.children.length;
        }
      } else return;
      let parent = this.shadowRoot.querySelector('#light-box__content-parent');
      parent.removeChild(this.shadowRoot.querySelector('#light-box__content'));
      let currentChild = this.children[this.contentIndex].cloneNode(true);
      currentChild.setAttribute('id', 'light-box__content');
      parent.appendChild(currentChild);
    }
  });
}());
</script>
